<div class="wrapper">
    <legend>List of group names<span class="add"><a ui-sref="master.operationGroup({operation:'add'})">Create new group</a></span></legend>
    <div class="table-responsive">
	
	    <table id="EmployeeEntry"class="table table-striped table-bordered">
                <tr>
                        <td><label for="EmployeeID">Enter Employee ID</label></td>
                        <td><input type="text" ng-model="EmployeeID"></input></td>
                </tr>
        </table>
		<input type="submit" value="List created polls" ng-click="ListByEmployee()"/>
       
		<table ng-model="PollsEntry" class="table table-striped table-bordered">
				<thead>
						<tr>
						     <th>Poll ID</th>
                             <th>Description</th>
                             <th>Status</th>
                             <th>Date of creation</th>
                             <th>Duration</th>
	                         <th>Action</th>

						</tr>
				</thead>
				<tbody>
				        <tr ng-repeat="poll in PollsList">
                            <td style="width:5%;">{{poll.id}}</td>
                            <td style="width:25%;">{{poll.Description}}</td>
                            <td style="width:35%;">{{poll.Status}}</td>
                            <td style="width:25%;">{{poll.creationDate}}</td>
							<td style="width:25%;">{{poll.creationDate}}</td>
                            <td style="width:10%;text-align:center;"><a ui-sref="master.operationGroup({operation:'edit',groupId:data.groupID})">Edit</a>
                                <a ng-click="DeletePoll()" class="delete">Delete</a>
							</td>  
						</tr>
						

	    <td><button type="button" name="Edit" value="Edit" ng-click='go("/editpoll", poll.id)'/>
		</td>
		<td><button type="button" name="Delete" value="Delete" ng-click="DeletePoll()"/>
		</td>
	</tr>
				</tbody>
		 </table>
	</div>
</div>

<!--
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<style>
table, th, td {
    border: 1px solid black;
}
</style>
<script type="text/javascript">
</script>
</head>
<body>
 <div ng-app="MyApp" ng-controller="GroupsController">
 <div ng-app="MyApp" ng-controller="PollsController">
<br><br><br><br>
<form>
<table id="EmployeeEntry" cellpadding="10" cellspacing="10">
  <tr>
     <td><label for="EmployeeID">Enter Employee ID</label></td>
     <td><input type="text" ng-model="EmployeeID"></input></td>
  </tr>
</table>

<input type="submit" value="List created polls" ng-click="ListByEmployee()"/>
<br><br>
<table ng-model="PollsEntry"> 
  <tr>
     <td>Poll ID</td>
     <td>Description</td>
     <td>Status</td>
     <td>Date of creation</td>
     <td>Duration</td>
	 <td>Action</td>
	 <td>Action</td>
	 <td>Action</td>
  </tr>
  <tr ng-repeat="poll in PollsList">
		<td>{{poll.id}}
		</td>
	    <td>{{poll.Description}}
		</td>
		<td>{{poll.Status}}
		</td>
	    <td>{{poll.creationDate}}
		</td>
		<td>{{poll.Duration}}
		</td>
	    <td><button type="button" name="Edit" value="Edit" ng-click='go("/editpoll", poll.id)'/>
		</td>
		<td><button type="button" name="Delete" value="Delete" ng-click="DeletePoll()"/>
		</td>
	</tr>
</table>

</form>
</div>
</div>
</body>
</html>
-->