<div class="wrapper">
    <legend>List of Polls<span class="add"><a ui-sref="master.operationGroup({operation:'add'})">Create new Poll</a></span></legend>
    <div class="table-responsive">
 
	    <table id="EmployeeEntry" class="table table-striped table-bordered">
                <tr>
                        <td><label for="EmployeeID">Enter Employee ID</label></td>
                        <td><input type="text" ng-model="EmployeeID"></input></td>
                </tr>
            </table>
		<input type="submit" value="List Open polls" ng-click="ListPolls()"/>
       
		<table ng-model="PollsEntry" class="table table-striped table-bordered">
			<thead>
			<tr>
                             <th>Description</th>
                             <th>Status</th>
                             <th>Date of creation</th>
                             <th>Opening Date</th>                             
                             <th>Closing Date</th>
			</thead>
			<tbody>
			<tr ng-repeat="poll in PollsList">
                            <td style="width:25%;">{{poll.description}}</td>
                            <td style="width:35%;">{{poll.pollStatus}}</td>
                            <td style="width:25%;">{{poll.creationDate}}</td>
                            <td style="width:25%;">{{poll.openingDate}}</td>
                            <td style="width:25%;">{{poll.closingDate}}</td>
			                <td style="width:10%;text-align:center;">
							  <div ng-if="poll.pollStatus == 'Open'">
                                <a ui-sref="master.answerpoll({id:poll._id})">Submit Answer</a>
							  </div>
							  <div ng-if="poll.pollStatus == 'Closed'">
								<a ui-sref="master.viewpollresult({id:poll._id})">View Result</a>
							  </div>
			                </td>  
			</tr>
						
	   
				</tbody>
		 </table>
	</div>
</div>
